body,html{
    margin: 0;
    padding: 0;
}

.nav-head{
    width: 100%;
    height: 70px;
    background-color: #282828;
}


.logo{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color: #39ca74;
}

span{
    color: #ffffff;
}

.nav-ul{
    width: auto;
    float: right;
    margin-top: 8px;
}

.nav-li{
    display: inline-block;
    padding: 15px 30px;
}

.nav-a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

.nav-a:hover{
    color: #F0c330;
    transition: 0.5s;
    text-decoration: none;
}
.active{
    color: #F0c330;
}


.footer{
  position: relative;
  left: 0;
  bottom: 0;
	width: 100%;
	height: 75px;
	background-color: #282828;
}

.foot-text{
	padding-top:25px;
	color: white;
	float:left;
	padding-left: 10px;
}


.hello{
	width:100%;
	height: 80px;
	margin-top:px;
	background-color: #2A4260;
	color: #F0C330;
}
.hello h1{
	float:left;
	margin-left: 40%;
	font-family: 'Alfa Slab One';

}

.name{
     background-color:#f4f7f9;
     border-radius:2px;
     width:100%; 
     padding:10px; 
     text-decoration:none; 
     border:none; 
     outline:none;
     display: inline-block; 
     vertical-align: top;
     position: relative; 
     height:40px;
  }
.mail{
  background-color:#f4f7f9; 
  border-radius:2px;
  padding:10px; 
  text-decoration:none; 
  border:none; 
  outline:none;display: 
  inline-block; 
  vertical-align: top;
  position: relative; 
  height:40px;
}
.message{
  background-color:#f4f7f9; 
  border-radius:2px;
  width:100%; 
  padding:10px; 
  text-decoration:none; 
  border:none; 
  outline:none;
  display: inline-block; 
  vertical-align: top;
  position: relative; 
  height:100px;
  }
  .bttn{
          background-color:#00979d;
          color: white;
          transition: .8s;
          line-height: 50%;
          width:100%;
          padding:10px; 
          text-decoration:none; 
          border:none; 
          outline:none;
          display: inline-block; 
          vertical-align: top;
          position: relative;
          height:35px;
}
